.media {
  /*border-top: solid 1px #3e3e3e;*/
  padding-top: 10px;
}

.add-campo-div {
  text-align: right;
  padding: 15px;
  padding-bottom: 0;
}

.input-changed {
  border-color: #66e9b7;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.speaker-photo {
	width: 150%;
	height: 150%;
	max-width: 150px;
	max-height: 150px;
	border-radius: 50%;
	border: 7px solid #efefef;
	vertical-align: middle;
	overflow: hidden;
  padding-left: 0;
}

.speaker-photo img {
	width: 150px;
	height: 150px;
}
